/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 06-04-2014, 12:16:05 PM
    Author     : Eduardo Noyer
*/

body {
  padding-top: 50px;
  background-color: #e4e4e4;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}


